body {
  margin: 0px;
  padding: 0px;
  color: white;
  background-color: black;
}

h1 {
  text-align: center;
}

ul.menu {
  margin: 0px;
  background-color: rgb(171, 21, 10);
  padding: 25px;
}

ul.menu li {
  display: inline;
  padding: 25px 70px;
}

.footer {
  width: 100%;
  padding: 25px;
  margin-top: -2px;
  background-color: #272424;
  text-align: center;
}

div.contents {
  height: 600px;
  background-color: white;
}

.home img {
  float: left;
}

.prima-immagine {
  height: 600px;
  width: 60%;
}

.seconda-immagine {
  width: 40%;
  height: 250px;
}

.terza-immagine {
  width: 40%;
  height: 350px;
}

.who-we-are {
  color: black;
  padding: 25px 0px;
}

.who-we-are div{
  background-color: rgba(128,128,128,0.53);;
  padding: 30px;
}
