body {
  margin: 0px;
  padding: 0px;
  background-color: black;
}

h1 {
  text-align: center;
  color: white;
  padding: 40px;
}

div.menu {
  background-color: rgb(171, 21, 10);
  padding: 35px 0px;
}

div.menu a {
  padding: 35px 50px;
  color: white;
  text-decoration: none;
  border-right: solid 1px rgba(0, 0, 0, 0.22);
}

.footer {
  height: 50px;
  padding: 22px;
  background-color: rgba(82, 75, 75, 0.71);
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

div.contents {
  background-color: white;
}

.home {
  height: 700px;
}

.home img {
  float: left;
}

.prima-immagine {
  height: 700px;
  width: 60%;
}

.seconda-immagine {
  width: 40%;
  height: 350px;
}

.terza-immagine {
  width: 40%;
  height: 350px;
}

.who-we-are {
  height: 550px;
  color: black;
  padding: 25px 0px;
}

.who-we-are div{
  background-color: rgba(128,128,128,0.53);;
  padding: 30px;
}

.elemento {
  height: 200px;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 50px;
}

.elemento img {
  width: 180px;
  height: 140px;
  padding: 25px;
  float: left;
}

.elemento div {
  padding: 30px;
}

.elemento div.descrizione {
  float: left;
}

.elemento div.prezzo {
  position: relative;
  top: 10px;
  float: right;
  width: 25px;
}

.elemento .prezzo p {
  color: rgb(165, 29, 29);
}

.elemento .prezzo input {
  width: 23px;
}

.domicilio {
    font-size: 25px;
  padding: 40px 375px;
}

.login {
  padding: 100px 40%;
}

.login input {
  width: 100%;
  padding: 14px;
  margin: 15px;
}

.accesso input {
  width: 35%;
  left: +40px;
  position: relative;
}
