body {
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
}

ul.menu {
  margin: 0px;
  background-color: rgb(171, 21, 10);
  padding: 25px;
}

ul.menu li {
  display: inline;
  padding: 70px;
}

.footer {
  width: 100%;
  padding: 25px;
  margin-top: -2px;
  background-color: grey;
  text-align: center;
}

div.contents {
  height: 600px;
  padding: 0px;
  margin: 0px;
}

.home img {
  padding: 0px;
  margin: -2px;
}

.prima-immagine {
  height: 600px;
  width: 60%;
}

.seconda-immagine {
  position: relative;
  top: -379px;
  width: 538px;
}

.terza-immagine {
  position: relative;
  width: 537px;
  height: 380px;
  left: 60%;
  top: -380px;
}
